<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yazantarifi.android.reporter">

    <application>

        <activity
            android:name=".screens.ShakeReporterScreen"
            android:theme="@style/Theme.ScreenTheme"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

    </application>

</manifest>
