<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yazantarifi.android.reporter">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />

    <application
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".screens.ShakeReporterScreen"
            android:theme="@style/Theme.ScreenTheme"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

    </application>

</manifest>
